.bx-breadcrumb {
  display: flex;
  flex-wrap: wrap;

  &-item {
    @include font(12);
    line-height: 119%;
    color: $black;
    white-space: nowrap;

    &:not(:last-child) {
      &::after {
        content: '>';
        margin: 0 8px;
      }
    }

    & > span {
      color: $black;
    }

    a {
      color: inherit;

      span {
        color: inherit;
      }

      @include hover() {
        color: $active-color;
      }
    }
  }
}
