.playbill {
  padding-top: 136px;
  @media (max-width: 767px) {
    padding-top: 75px;
  }

  .container {
    .playbill-wrapper {
      display: flex;
      gap: 24px;
      @media (max-width: 770px) {
        flex-wrap: wrap;
      }

      .playbill-poster {
        flex: 1 1 auto;
        background: url("../../img/main/playbill/background.png") center no-repeat;
        border-radius: 5px;
        background-size: cover;
        width: 100%;
        height: 33.75rem;
        position: relative;

        .poster-about {
          position: absolute;
          left: 5%;
          top: 50%;

          .poster-bnt {
            a {
              color: #fff;
            }

          }

          .poster-title {
            font-weight: 400;
            line-height: 150%;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            font-size: calc(25px + 15 * (100vw / 1440));

            @media(max-width: 767px) {
              font-size: calc(25px + (30 + 15 * 0.7) * ((100vw - 320px) / 1440));
            }
          }

        }
      }

      .playbill-when {
        flex: 0 0 33%;
        //background: rgba(213, 98, 29, 0.05);
        border-radius: 5px;
        @media (max-width: 770px) {
          flex: 1 1 100%;
        }


        .when-tabs {
          .tabs-items {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            margin-bottom: 39px;
            cursor: pointer;
            @media (max-width: 426px) {
              margin-bottom: 20px;

            }

            a {
              font-weight: 700;
              font-size: 14px;
              line-height: 150%;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: #FFFFFF;
              padding: 12px 48.5px 7px 48.5px;
              @media (max-width: 770px) {
                padding: 12px;
              }

            }

          }
        }

        .tabs-body {
          .active {
            background: rgba(213, 98, 29, 0.1);
          }

          .tabs-block {
            .tabs-imag {
              display: flex;
              flex-wrap: wrap;
              justify-content: center;
              gap: 26px;
              @media (max-width: 1314px) {
                gap: 15px;
              }
              img {
                @media (max-width: 321px) {
                  width: 100%;
                }

              }
            }
          }

          .hidden {
            display: none
          }
          .active {
            background: rgba(213, 98, 29, 0.1);
          }
        }
      }

    }

  }
}
