.tehrader {
  padding-top: 150px;
  margin-bottom: 150px;
  @media (max-width: 770px) {
    margin-bottom: 40px;
    padding-top: 40px;
  }
  .container-new {
    padding: 0 80px;
    margin: 0 auto;
    max-width: 1078px;
    @media (max-width: 767px) {
      padding: 0 20px;
    }

    .tehrader-wrapper {
      display: flex;
      justify-content: center;
      flex-direction: column;

      .tehrader-header {
        text-align: center;
        margin-bottom: 80px;
        @media (max-width: 767px) {
          margin-bottom: 25px;
        }

        .button {
          background: #FFFFFF;
          border-radius: 5px;
          text-align: center;
          font-weight: 700;
          font-size: 14px;
          padding: 10px 20px 7px;
          line-height: 150%;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: #210E09;
          margin-bottom: 40px;
        }

        .tehrader-title {
          line-height: 150%;
          text-align: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          font-size: calc(25px + 15 * (100vw / 1440));
          @media(max-width: 767px) {
            font-size: calc(25px + (30 + 15 * 0.7) * ((100vw - 320px) / 1440));
          }

          color: #FFFFFF;


        }
      }

      .tehrader-contents {
        display: flex;
        gap: 134px;
        justify-content: space-between;
        @media (max-width: 921px) {
          gap: 25px;
        }
        @media(max-width: 767px) {
          flex-wrap: wrap-reverse;
          justify-content: center;
        }

        .footer-information {
          flex: 1 1 auto;
          .information {


            .footer-information-content {
              display: flex;
              flex-direction: column;
              position: relative;
              transition: all 0.3s;


              .information-title {
                font-weight: 700;
                font-size: 18px;
                line-height: 150%;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                @media (max-width: 426px) {
                  font-size: 16px;
                }

                .information-list {
                  display: flex;
                  flex-direction: column;
                  gap: 10px;


                  .information-item {

                    .information-link {
                      font-weight: 400;
                      font-size: 14px;
                      line-height: 150%;
                      color: #FFFFFF;

                      &:after {
                        display: block;
                        position: absolute;
                        left: 0;
                        width: 0;
                        height: 2px;
                        background-color: #fff;
                        content: "";
                        transition: width 0.3s ease-out;
                      }

                      &:hover:after,
                      &:focus:after {
                        width: 100%;
                      }
                    }
                  }
                }
              }

              .information-info {
                font-weight: 600;
                font-size: 16px;
                line-height: 19px;
                color: #fff;
                position: relative;


                &:after {
                  display: block;
                  position: absolute;
                  left: 0;
                  width: 0;
                  height: 2px;
                  background-color: #14609B;
                  content: "";
                  transition: width 0.3s ease-out;
                }

                &:hover:after,
                &:focus:after {
                  width: 100%;
                }

              }
            }

            .symbology {
              display: flex;
              flex-direction: column;
              row-gap: 14px;
              max-width: 230px;
              justify-content: flex-start;

              .symbology-wrap {
                display: flex;
                column-gap: 20px;
                align-items: center;


                .symbology-text {
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 16px;
                  color: #9C9C9C;
                }


              }
            }
          }
        }

        .tehrader-sound {
          display: flex;
          flex-direction: column;
          flex: 0 0 45%;
          @media (max-width: 767px) {
            flex: 0 0 100%;
          }


          .sound-title {
            font-weight: 400;
            margin-bottom: 50px;
            line-height: 150%;
            text-align: center;
            letter-spacing: 0.05em;
            text-transform: uppercase;
            color: #FFFFFF;
            font-size: calc(20px + 7 * (100vw / 1078));

            @media(max-width: 767px) {
              font-size: calc(20px + (20 + 7 * 0.7) * ((100vw - 320px) / 1078));
              margin-bottom: 25px;

            }
          }

          .sound-blocks {
            display: flex;
            gap: 24px;
            @media(max-width: 767px) {
              justify-content: space-between;
            }


            .sound-block {
              img {

              }

              .block-title {
                padding-top: 30px;
                font-weight: 700;
                font-size: 14px;
                line-height: 150%;
                text-align: center;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 25px;
              }

              .block-icons {
                display: flex;
                gap: 25px;
                justify-content: center;

                  a {
                    position: relative;
                    width: 20px;
                    height: 20px;
                    border: 2px solid #D5621D;
                    border-radius: 5px;
                    padding: 10px;

                    .icon {
                      position: absolute;
                      left: 10%;
                      top: 22%;
                      width: 20px;
                      height: 20px;
                    }
                }
              }
            }
          }
        }
      }
    }

  }
}


.spollers {
  display: grid;
  gap: 15px;
  @media (max-width: 426px) {
    gap: 0px;
  }
}

// Спойлер
.spollers__item {
  background: rgba(213, 98, 29, 0.1);
  border-radius: 5px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

// Заголовок спойлера
.spollers__title {
  width: 100%;
  cursor: default;
  text-align: left;
  padding: 20px 40px;
  position: relative;
  @media (max-width: 426px) {
    padding: 10px 20px;
  }


  ._spoller-init & {
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      right: 40px;
      top: 50%;
      background-color: #fff;
      height: 2px;
      width: 15px;
      transition: transform 0.5s ease 0s;
    }

    &::before {
      transform: translate(-75%, -50%) rotate(40deg);
    }

    &::after {
      transform: translate(0, -50%) rotate(-40deg);
    }

    &._spoller-active {
      display: block;
      background: #D5621D;

      &::before {
        transform: translateX(-75%) rotate(-40deg);
      }

      &::after {
        transform: rotate(40deg);
      }
    }
  }
}

// Контент спойлера
.spollers__body {
  background: #D5621D;
  padding: 0 40px 25px 40px;

  .information-link {
    color: #FFFFFF;

  }
}
