@use 'sass:math';

html {
  font-family: $font;
  font-weight: 400;
  line-height: 145%;
  @include font($fontSizeMain);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #210E09;

  &._menu-opened {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }

  &:before {
    content: '';
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(9, 9, 9, 0.7);
    transition: all $time ease-in-out;
    opacity: 0;
    visibility: hidden;
    z-index: 10;
  }
}

._overflow-hidden {
  overflow: hidden;
}

.main {
  width: 100%;
  padding-top: var(--header-height);
  z-index: 1;

  &-container {
    display: flex;

    @include xs-block() {
      flex-wrap: wrap;
    }
  }
}

a {
  transition: $time;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;

  &.lazy,
  &.swiper-lazy {
    opacity: 0;
    transition: opacity $time ease-in-out;
  }

  &.loaded,
  &.swiper-lazy-loaded {
    opacity: 1;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
}

h1,
.h1,
h2,
.h2 {
  font-weight: 600;
  @include font(28);

  @include sm-block() {
    @include font(22);
  }
}

h3,
.h3 {
}

h4,
.h4 {
  font-weight: 600;
  @include font(22);

  @include sm-block() {
    @include font(20);
  }
}

h5,
.h5 {
  font-weight: 600;
  @include font(18);

  @include sm-block() {
    @include font(16);
  }
}

h6,
.h6 {
  font-weight: 600;
  @include font(16);

  @include sm-block() {
    @include font(14);
  }
}

.section {
  &-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;

    @include sm-block() {
      margin-bottom: 15px;
    }
  }

  &:not(:last-child) {
    margin-bottom: 120px;

    @include sm-block() {
      margin-bottom: 60px;
    }

    @include xxs-block() {
      margin-bottom: 30px;
    }
  }

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5 {
    margin: 0;
  }
}

.ol-list {
  @include ol-list;
}

.ul-list {
  @include ul-list;
}

.container {
  max-width: $break_lg;
  padding: 0 80px;
  margin: 0 auto;

  @include lg-block() {
    padding: 0 40px;
  }

  @include xmd-block() {
    padding: 0 20px;
  }
}

._hidden {
  display: none !important;
}

.iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;

  &-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
  }

  &-poster {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }
  }

  &-btn {
    width: 55px;
    height: 55px;
    @include absolute-center();
    cursor: pointer;
    z-index: 1;

    @include sm-block() {
      width: 50px;
      height: 50px;
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
      transition: transform $time ease-in-out;
    }

    .icon {
      width: 100%;
      height: 100%;
      fill: $white;
      transition: transform $time ease-in-out;
    }

    @include hover() {
      img,
      .icon {
        transform: scale(1.1);
      }
    }
  }
}
