$font: 'gothampro'; /* Семейство шрифта брать из ./dev/scss/fonts.scss */
$fontSizeMain: 16;
$time: 0.3s;

//COLOR
$black: #000;
$white: #210E09;
$active-color: #e3000f;
$gray-bg: #f8f8f8;
$border-radius: 4px;

