section.kitchen
    .container
        .kitchen-wrapper
            .kitchen-about
                .kitchen-button
                    a(href='#') Top “Manhattan” menu
                .kitchen-title Кухня
            .slider
                .slider__line
                    .slider__wrap
                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleOne.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.
                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleTwo.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleThree.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleFour.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleFive.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleSix.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.
                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleSeven.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleEight.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.
                    .slider__wrap
                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleOne.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.
                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleOne.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleOne.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleOne.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleOne.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleOne.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.
                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleOne.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.

                        .slider-block
                            .block-imag
                                img(src="img/main/kitchen/RectangleOne.png" alt="блюда")
                            .block-about
                                .about-item
                                    h3.item-title Amet donec.
                                    p.item-price 550 ₽
                                p.about-sub-title 200 гр
                                p.about-text Placerat id auctor nunc id vel vel curabitur. Urna fames maecenas leo elit diam nibh elit.
                button.slider__btn-prev
                    img(src='img/main/kitchen/left.png')
                button.slider__btn-next
                    img(src='img/main/kitchen/right.png')
            .kitchen-menu
                a(href='#') Все меню
