.pagination
  ul.pagination-list
    li.pagination-item
      a(href="#").pagination-arrow.disabled
        +icon('arrow-left-sm')
    li.pagination-item
      a(href="#").pagination-button.active 1
    li.pagination-item
      a(href="#").pagination-button 2
    li.pagination-item
      a(href="#").pagination-button 3
    li.pagination-item
      a(href="").pagination-button.disabled ...
    li.pagination-item
      a(href="#").pagination-button 21
    li.pagination-item
      a(href="#").pagination-arrow
        +icon('arrow-right-sm')
