section.playbill
    .container
        .playbill-wrapper
            .playbill-poster
                .poster-about
                    .poster-bnt
                        a(href="#") Since 1996
                    h1.poster-title True. Fontanka. Underground.
            .playbill-when
                .when-tabs
                    .tabs-items
                        a(data-tab="tab_01").active.tabs-item Ближайшие
                        a(data-tab="tab_02").tabs-item скоро
                .tabs-body
                    .tabs-block.active(id='tab_01')
                        .tabs-imag
                            img(src="../../img/main/playbill/Rectangle 32.jpg")
                            img(src="../../img/main/playbill/Rectangle 33.jpg")
                            img(src="../../img/main/playbill/Rectangle 34.jpg")
                            img(src="../../img/main/playbill/Rectangle 35.jpg")
                    .tabs-block.hidden(id='tab_02')
                        .tabs-imag
                            img(src="../../img/main/playbill/Rectangle 35.jpg")
                            img(src="../../img/main/playbill/Rectangle 34.jpg")
                            img(src="../../img/main/playbill/Rectangle 33.jpg")
                            img(src="../../img/main/playbill/Rectangle 32.jpg")
