.vi-conf
  .vi-conf-head
    a.vi-conf-btn.vi-sw-off-btn(href="#") Выключить режим для слабовидящих
    a.vi-conf-close(href="#")
      +icon('x-mark')
  .vi-conf-body
    .vi-conf-option
      .vi-conf-option__name Настройки шрифта
      a.vi-conf-btn(href="#" data-vi="ff0") По умолчанию
      a.vi-conf-btn(href="#" data-vi="ff1") Arial
      a.vi-conf-btn(href="#" data-vi="ff2") Times New Roman
    .vi-conf-option
      .vi-conf-option__name Размер шрифта
      a.vi-conf-btn(href="#" data-vi="fs0") По умолчанию
      a.vi-conf-btn(href="#" data-vi="fs1") Большой
      a.vi-conf-btn(href="#" data-vi="fs2") Огромный
    .vi-conf-option
      .vi-conf-option__name Межбуквенное расстояние
      a.vi-conf-btn(href="#" data-vi="ls0") По умолчанию
      a.vi-conf-btn(href="#" data-vi="ls1") Большое
      a.vi-conf-btn(href="#" data-vi="ls2") Огромное
    .vi-conf-option
      .vi-conf-option__name Цветовая схема
      a.vi-conf-btn(href="#" data-vi="cs0") Светлая
      a.vi-conf-btn(href="#" data-vi="cs1") Темная
      a.vi-conf-btn(href="#" data-vi="cs2") Светло-синяя
