extends ../layout/main

block variables
  - const title = 'Разводящая';

block content
  ul
    li
      a(href="./main.html") main.html - Главная
    li
      a(href="./404.html") 404.html - Страница 404
    li
      a(href="./ie.html") ie.html - "Заглушка для Internet Explorer"
